.home_section {
    overflow: hidden;
    .home_wrapper {
        overflow: hidden;
        @include sp {
        }
        .home_img--mobile {
            webkit-animation: avatar 10s ease-in-out 1s infinite;
            animation: avatar 10s ease-in-out 1s infinite;
            background: url(../../../public/assets/images/haduydo.jpeg);
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: inset 0 0 0 9px hsl(0deg 0% 100% / 30%);
            height: 300px;
            justify-content: center;
            width: 300px;
            margin: 0 auto;
            display: none;
            overflow: hidden;
            @include sp {
                display: block;
                width: get_sp(300);
                height: get_sp(300);
            }
        }
        .home_content {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            .home_social {
                flex: 1;
                display: flex;
                flex-direction: column;
                order: 1;
                .home_social_icon {
                    height: 100px;
                    display: flex;
                    padding: 10px 0px;
                    font-size: 20px;
                    position: relative;
                    text-decoration: none;
                    color: inherit;
                    &-first {
                        align-items: flex-end;
                    }
                    &second {
                        align-items: flex-start;
                    }
                    @include sp {
                        font-size: get_sp(20);
                        padding: get_sp(10) 0;
                        height: get_sp(80);
                    }
                }

                .home_social_icon-first:after {
                    background-color: #333;
                    content: "";
                    height: 80px;
                    left: 10px;
                    top: -5px;
                    position: absolute;
                    width: 1px;
                    @include sp {
                        left: get_sp(10);
                        height: get_sp(60);
                        top: get_sp(-5);
                    }
                }
                .home_social_icon-second:before {
                    background-color: #333;
                    content: "";
                    height: 80px;
                    left: 10px;
                    bottom: -5px;
                    position: absolute;
                    width: 1px;
                    @include sp {
                        left: get_sp(10);
                        height: get_sp(60);
                        bottom: get_sp(-5);
                    }
                }
            }
            .home_img {
                order: 3;
                flex: 3;
                webkit-animation: avatar 10s ease-in-out 1s infinite;
                animation: avatar 10s ease-in-out 1s infinite;
                background: url(../../../public/assets/images/haduydo.jpeg);
                background-position: 50%;
                background-repeat: no-repeat;
                background-size: cover;
                box-shadow: inset 0 0 0 9px hsl(0deg 0% 100% / 30%);
                height: 400px;
                justify-content: center;
                width: 400px;
                overflow: hidden;
                @include sp {
                    display: none;
                }
            }
            .home_info {
                order: 2;
                flex: 3;
                margin-top: 100px;
                overflow: hidden;
                @include sp {
                    margin-top: get_sp(80);
                }
                .home_intro {
                    font-size: 20px;
                    color: #757575;
                    font-weight: 400;
                    overflow: hidden;
                    @include sp {
                        font-size: get_sp(20);
                    }
                }
                .home_name {
                    font-size: 44px;
                    color: #000000;
                    font-weight: 600;
                    white-space: nowrap;
                    margin: 10px 0;
                    display: inline-block;
                    overflow: hidden;
                    animation: typing 3.5s steps(40, end),
                        blink-caret 0.75s step-end infinite;
                    @include sp {
                        margin: get_sp(10) 0;
                        font-size: get_sp(36);
                    }
                }
                .home_title {
                    margin-bottom: 48px;
                    overflow: hidden;
                    @include sp {
                        margin-bottom: get_sp(30);
                    }
                    p {
                        font-size: 20px;
                        color: #757575;
                        font-weight: 500;
                        overflow: hidden;
                        @include sp {
                            font-size: get_sp(20);
                        }
                        span {
                            font-weight: 500;
                            font-size: 24px;
                            color: #4d4d4d;
                            overflow-y: hidden;
                            @include sp {
                                font-size: get_sp(24);
                            }
                        }
                    }
                }
                .contact_button {
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .home_arrow {
        text-align: center;
        font-size: 30px;
        color: #75757575;
        padding-top: 88px;
        @include sp {
            padding-top: get_sp(40);
        }
        .arrow-down__icon {
            -moz-animation: arrowDownAnimation 2s infinite;
            -webkit-animation: arrowDownAnimation 2s infinite;
            animation: arrowDownAnimation 2s infinite;
        }
    }
}

@keyframes avatar {
    0% {
        border-radius: 60% 70% 50% 70%/60% 50% 70% 60%;
    }
    50% {
        border-radius: 40% 80% 60% 70%/40% 60% 50% 90%;
    }
    66% {
        border-radius: 70% 50% 70% 50%/60% 40% 80% 60%;
    }
    100% {
        border-radius: 60% 70% 50% 70%/60% 50% 70% 60%;
    }
}

@keyframes arrowDownAnimation {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}
