.footer {
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,.1);
    .footer_wrapper {
        margin: 0 auto;
        max-width: 968px;
        padding: 10px;
        text-align: center;
    }
}